- provide(:about_active, "active")
h1
  | About the Sew Twirly Community
br
| Do you love to sew and share? Are you constantly dreaming about your next sewing project or fabric purchase?! The Sew Twirly Creative Community is your place to share your love of creating handmade projects.  Spread the love from initial inspiration to finished product! Come inspire and be inspired!
br
br
| Currently, you can come here for help with product sourcing and inspiration. We will be inviting new Twirl Guides over time in order to inspire you with greater and more varied content!
