= turbo_stream.replace "project_images_#{@project.id}" do
  = turbo_frame_tag "project_images_#{@project.id}" do
    - @project.project_images.reload.each do |pi|
      = render "creator/project_images/project_image", project: @project, project_image: pi
    .mt-4
      h3.text-sm.font-medium.text-gray-700.mb-2 Upload Another Image
      = render "creator/project_images/upload_form", project: @project
