- @project.project_images.reload
= turbo_stream.replace "project_images_#{@project.id}" do
  = turbo_frame_tag "project_images_#{@project.id}" do
    = render "creator/project_images/tabbed_editor", project: @project, active_index: 0
