body {
  background-color: $light-gray;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Lobster Two', sans-serif;
  color: $bright-pink;
}

h1, .card-title {
  font-weight: bold;
}

h6 {
  color: $bright-pink;
  font-weight: 300;
}

p, span, p span{
  font-family: 'Quicksand', serif !important;
  font-size: 20px;
  color: $secondary-text-color
}

.badge{
  margin: 3px;
}

a { color: $powder; }

.btn{
  a { color: white !important; }
}

.fancy{
  font-family: 'Tangerine', cursive;
  font-size: 2em;
  color: $secondary-text-color
}
