body {
  background-color: $light-gray;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Lobster Two', sans-serif;
  color: $bright-pink;
}

h1, .card-title {
  font-weight: bold;
}

h6 {
  color: $bright-pink;
  font-weight: 300;
}

p, p span {
  font-family: 'Cormorant Garamond', serif !important;
  font-size: 20px;
}

.badge{
  margin: 3px;
}

a { color: $powder; }

.btn{
  a { color: white !important; }
}
