@font-face{
  font-family: 'BeautifulCursive';
  src: asset-url('fonts/BeautifulCursive.ttf') format('truetype')
}


body {
  background-color: $light-gray;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'BeautifulCursive';
  color: $bright-pink;
}

h6 {
  font-weight: 300;
}

p, span, p span{
  font-family: 'Quicksand', serif !important;
  font-size: 20px;
  color: $secondary-text-color
}

.badge{
  color: white;
  margin: 3px;
}

a { color: $powder; }

.btn{
  a { color: white !important; }
}

.fancy{
  font-family: 'Tangerine', cursive;
  font-size: 2em;
  color: $secondary-text-color;
}
