$powder: #BFD8D2;
$powder-light: #BFD8D2;
$bright-pink: #FF0080;
$dark-pink: #EFBCBC;
$light-pink: #F9E5E5;
$turquoise: #41C1C1;
$beige: #EBEBDF;
$peach: #FEDCD2;
$warm: #DF744A;
$lemon: #DCB239;
$white: #FFFFFF;
$black: #000000;

$light-gray: #f7f7f9;
$dark-gray: #757575;

$primary-color-dark:   $dark-pink;
$primary-color:        $light-pink;
$primary-color-light:  $powder;
$primary-color-text:   #FFFFFF;
$accent-color:         #CDDC39;
$primary-text-color:   #212121;
$secondary-text-color: $turquoise;
$divider-color:        #BDBDBD;

$theme-colors: (
  primary: $light-pink,
  secondary: $peach,
  success: $powder,
  info: $bright-pink,
  warning: $lemon,
  danger: $warm,
);
