.navbar {
    border-radius: 0;
    margin-bottom: 20px;
    background-color: $primary-color !important;
    .navbar-brand {
        font-weight: bolder;
        color: $accent-color;
        .light {
            font-weight: 300;
            color: $primary-color-text;
        }
    }
    .navbar-toggler {
        outline: none;
    }
    .nav-link {
      color: $primary-color-light !important;
      &.active {
        color: $primary-color-text !important;
      }
    }
    .nav-item.author-nav {
      img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 1px solid $primary-color-light;
      }
    }
  }
