#disqus_thread
  javascript:
    var disqus_config = function () {
      this.page.url = '#{request.original_url}' ;
      this.page.identifier = '#{@post.slug}';
    };
      (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://sewtwirly.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();

