nav.navbar.navbar-expand-lg.navbar-light.navbar-fixed-top
  a.navbar-brand[href="/"]
    | Sew Twirly
  button.navbar-toggler[type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"]
    span.navbar-toggler-icon
  #navbarText.collapse.navbar-collapse.justify-content-end
    = render 'layouts/nav_items'

#navbarSupportedContent.collapse.navbar-collapse
  = render 'layouts/nav_items'
